seed: 34795484
bulk_data_path: /home/zemp/kth/thesis/data/HGSOC_bulk.txt
sc_rna_data_path: /home/zemp/kth/thesis/data/HGSOC_sc.txt
hyperparams_path: /home/zemp/kth/thesis/data/HGSOC_sc_hp.txt
output_path: /home/zemp/kth/thesis/_output/HGSOC/phylex/chain3/
n_mcmc_iter: 2000
n_mh_iter: 2000
thinning: 20
burn_in: 500
alpha0_max: 1
lambda_max: 0.2
gamma_max: 0.5
alpha0_min: 0
lambda_min: 0
gamma_min: 0
seq_err: 0.001
var_cp_prob: 0.25
sc_bursty_alpha0: 0.01
sc_bursty_beta0: 0.01
geometric_mean: 0
