seed: 420
num_branches: 3
max_depth: 3
n_sites: 67
n_regions: 1
bulk_mean_depth: 330
seq_err: 0.01
birth_rate: 0.4
death_rate: 0.2
max_cn: 6
var_cp_prob: 0.4
n_cells: 300
sc_mean_depth: 29
dropout_rate: 0.2
randomize_dropout: 0
bursty_prob: 0.1
sc_bursty_alpha0: 0.05
sc_bursty_beta0: 0.05
sc_error_distn_variance_factor: 1.0
beta_binomial_hp_max: 10
randomize_branching: 0
randomize_cf: 1
min_cf: 0.05
snv_sc_sparsity: 1
n_genes: 15000
zero_inflation_alpha: 1
zero_inflation_beta: 15
nb_inv_dispersion_shape: 1
nb_inv_dispersion_scale: 4
depth_sf_ratio: 178972.8
norm_model: 1
gene_copy_expr_prob_alpha: 10
gene_copy_expr_prob_beta: 1
cn_hmm_smoothing_rate: 0.7
output_path: /home/zemp/kth/thesis/_output/test_model
genecode_path: /home/zemp/kth/thesis/PhylEx/gencode_v19_gen_pos.complete.txt