seed: 42
num_branches: 2
max_depth: 3
n_sites: 70
n_regions: 1
bulk_mean_depth: 330
seq_err: 0.01
birth_rate: 0.55
death_rate: 0.45
max_cn: 10
var_cp_prob: 0.5
n_cells: 300
sc_mean_depth: 29
dropout_rate: 0.1
randomize_dropout: 0
bursty_prob: 0.1
sc_error_distn_variance_factor: 1.0
beta_binomial_hp_max: 10
randomize_branching: 0
randomize_cf: 1
min_cf: 0.05
snv_sc_sparsity: 1
output_path: /home/zemp/kth/thesis/_output/simul